* {}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$white-1: #ccc8c8;
$white-2: #f6f5f5;
$white-3: #e7e4e4;
$blur-black-1: #000000d0;
$gray-1: #dedede;
$red-1: #5b0204;
$red-2: #981212;
$gray-2: rgba(245, 244, 244, 0.44);

.click:hover {
  cursor: pointer;
}

.Button:hover {
  cursor: pointer;
}

a {
  display: block;
  color: $blur-black-1;
  text-align: center;
  text-decoration: none;
}

.leaflet-container {
  height: 400px;
  width: 100%;
}

.App {
  text-align: center;

  .DesktopHeader {
    z-index: 101;
    position: fixed;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 100vw;
    background-color: $white-3;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    .Language:hover {
      cursor: pointer;
    }

    .LogoName {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: space-around;

      li {
        float: right;

        a, .MenuItem {
          padding: 10px 12px;
        }

        .MenuItem:hover {
          cursor: pointer;
        }
      }
    }
  }

  .LandingPage {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
    position: fixed;

    .Logo {
      position: absolute;
      width: clamp(40vw, 55vw, 60vw);
    }

    .BackgroundImage {
      background-color: white;
      background-repeat: no-repeat, repeat;
      background-position: center;
      background-size: cover;
      height: 100vh;
      width: 100vw;
      position: absolute;
      z-index: -1;
    }

  }

  .HomeBody {

    .Success {
      background-color: $gray-2;
      border-radius: 10px;
      padding: 10px;
      margin-left: 10vw;
      margin-right: 10vw;

      .SuccessItem {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .Card {
        float: right;
      }
    }

  }

  .NewsBody {

    .NewsBox {

      .NewsImage {
        border-radius: 25px;
        display: block;
        overflow: hidden;
        transform: scale(1);
      }

      .NewsImage:hover img {
        cursor: pointer;
        transform: scale(1.025);
        transition: transform 150ms ease-in-out;
      }
    }
  }

  .HomeBody, .TrainerBody, .VorstandBody, .WeiteresBody, .NewsBody {
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 95vh;
    position: absolute;
    background-color: $white-3;
    width: 100vw;
    z-index: 100;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
  }

  .TrainerBody {
    .OfferCard {
      border: 2px solid black;
    }
  }

  .VorstandBody {
    .MyCard {
      width: 450px;
      // height: 1020px;
      .PersonInfoButton {

      }
    }
  }

  .Footer {
    width: 100vw;

    .languageChooser:hover {
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 500px) {
  .App {
    .VorstandBody {
      .MyCard {
        width: 350px;
      }
    }
  }
}
