* {
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$white-1: #ccc8c8;
$white-2: #f6f5f5;
$white-3: #f6f3f3;
$blur-black-1: #000000d0;
$gray-1: #dedede;
$red-1: #5b0204;
$gray-2: rgba(245, 244, 244, 0.44);

.Button:hover {
  cursor: pointer;
}

a {
  display: block;
  color: $blur-black-1;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
}

.leaflet-container {
  height: 400px;
  width: 100%;
}

.Language {
  cursor: pointer;
}

.App {
  text-align: center;

  .Header-fade-in {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }

  .Header-fade-out {
    opacity: 0;
    transition: opacity 500ms ease-out;
  }

  .DesktopHeader {
    z-index: 101;
    position: fixed;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 100vw;
    background-color: $white-3;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    .Language:hover {
      cursor: pointer;
    }

    .LogoName {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;

      li {
        float: right;
      }
    }
  }

  .LandingPage {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
    position: fixed;

    .Logo {
      position: absolute;
      width: clamp(30vw, 50vw, 70vw);
      /*transition: box-shadow 500ms ease-in-out;*/
    }

  /*  .Logo:hover {
      box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      transition: box-shadow 500ms ease-in-out;
    }*/

    .BackgroundImage {
      background-color: white;
      background-repeat: no-repeat, repeat;
      background-position: center;
      background-size: cover;
      height: 100vh;
      width: 100vw;
      position: absolute;
      z-index: -1;
    }

    .TextContainer {
      position: absolute;
      top: 15vh;

      .Title {
        color: $blur-black-1;
        z-index: 1;
        font-size: 8vw;
        letter-spacing: 20px;
        /*font-family: o-wee-ental;
        src: url("./assets/o-wee-ental.ttf");*/
      }

      .Subtitle {
        letter-spacing: 15px;
        color: $blur-black-1;
        z-index: 1;
        font-size: 3vw;
      }
    }

    .scrollHint {
      position: absolute;
      bottom: 0;
      color: $white-1;
      animation-name: move_scroll_hint;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }

  }

  .HomeBody {

    .Success {
      background-color: $gray-2;
      border-radius: 10px;
      padding: 10px;
      margin-left: 10vw;
      margin-right: 10vw;

      .SuccessItem {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .Card {
        float: right;
      }
    }

  }

  .NewsBody {
    .NewsBox {
      .NewsImage:hover {
        cursor:pointer;
      }
    }
  }

  .HomeBody, .TrainerBody, .VorstandBody, .WeiteresBody, .NewsBody {
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 100vh;
    position: absolute;
    background-color: $white-3;
    width: 100vw;
    z-index: 100;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
  }

  .Footer {
    width: 100vw;

    .languageChooser:hover {
      cursor: pointer;
    }
  }

}

@media only screen and (max-width: 900px) {
  .App {
    .LandingPage {
      .TextContainer {
        .Title {
          font-size: 11vw;
        }
        .Subtitle {
          font-size: 5vw;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .App {
    .HeaderMobile {
      .Menu {
        ul li ul li {
          font-size: 6vw;
        }
        ul li a {
          font-size: 8vw;
        }
      }
    }
    .LandingPage {
      .TextContainer {
        .Title {
          font-size: 15vw;
        }
        .Subtitle {
          font-size: 8vw;
        }
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .App {
    .HeaderMobile {
      .Menu {
        ul li a {
          font-size: 8vw;
        }
      }
    }
    .LandingPage {
      .TextContainer {
        .Title {
          font-size: 12vw;
        }
        .Subtitle {
          font-size: 6vw;
        }
      }
    }
  }
}

@keyframes move_scroll_hint {
  0% { bottom: 10px; }
  25% { bottom: 20px; }
  50% { bottom: 10px; }
  75% { bottom: 20px; }
  100% { bottom: 10px; }
}